<ul class="articles-list">
    {{#each articles}}
        <li>
            <figure>  
                <img src="../uploads/{{articleImage}}" alt="">
            </figure>
            <div>
                <h3 class="route">
                    news/{{articleRoute}}
                </h3>
                <h2 class="title">
                    {{articleTitle}}
                </h2>
                <p class="date">
                    {{dateFormat articleDate}}
                </p>
                <p class="description">
                    {{articleDescription}}
                </p>
                <div class="button-container">
                    <a href="/articles-manager/delete/{{articleId}}" class="button">Delete</a>
                    <a href="/articles-manager/edit/{{articleId}}" class="button">Edit</a>
                </div>
            </div>
        </li>
    {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not articles yet.</p>
                <a href="/articles-manager/add">Create one</a>
            </div>
        </div>
    {{/each}}
</ul>