<div class="landing-image">
	<img src="/img/landing/news.jpg" alt="">
	<div class="gradient"></div>
</div>
<ul class="news-list">
	{{#each articles}}
		<li>
			<a href="/news/{{articleRoute}}">
				<figure>  
					<img src="../uploads/{{articleImage}}" alt="" class="">
				</figure>
				<div>
					<p class="date">
						{{dateFormat articleDate}}
					</p>
					<h2 class="title">
						{{articleTitle}}
					</h2>
					<p class="description">
						{{articleDescription}}
					</p>
				</div>
			</a>
			<div class="separator"></div>
		</li>
	{{else}}
		<div class="col-md-4 mx-auto">
			<div class="card card-body text-center">
				<p>There are not articles yet.</p>
			</div>
		</div>
	{{/each}}
</ul>
